[Desktop Entry]
Type=Application
Name=Steam ARM64
Comment=Launch native ARM64 Steam
Exec=/usr/local/bin/steam-arm64
Icon=steam
Terminal=false
Categories=Game;
StartupNotify=true

