<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".Tc4Application"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/tc4_app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TinyContainer"
        >
        <service android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false" android:exported="false">
            <meta-data android:name="autoStoreLocales" android:value="true" />
        </service>
        <receiver android:name=".debug.DebugPairingReceiver"
            android:exported="true" android:permission="android.permission.DUMP" />
        <receiver android:name="com.termux.x11.LoriePreferences$Receiver"
            android:exported="false" tools:replace="android:exported" />
        <activity android:name="com.termux.x11.LoriePreferences"
            android:exported="false" tools:replace="android:exported" />
        <!-- The bindable subclass retains the upstream X11 startup protocol. -->
        <service android:name="com.termux.x11.CmdEntryPointService"
            tools:node="remove" />
        <service android:name=".XServerService"
            android:process=":xserver"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


            <!-- Import files to public folder (any format) -->
            <intent-filter android:label="@string/tc4_import_file_label">
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <!-- ShortcutManager 快捷方式启动 -->
            <intent-filter>
                <action android:name="com.fct.tc4.action.SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.page.WebViewActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.page.Signal9Activity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".ui.page.OpenSourceLibsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.page.LicenseActivity"
            android:exported="false" />

        <provider
            android:name=".ui.misc.TinyDocumentsProvider"
            android:authorities="${applicationId}.docs"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
    </application>

</manifest>
